<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body >
<app-nav></app-nav>
<section>
  <div class="banner">
  </div>
</section>

<section class="tienda">
  <div class="fila1">
    <button routerLink="/hoja1" class="btn1"  type="button"></button>
    <button routerLink="/hoja2" class="btn2" type="button"></button>
    <button routerLink="/hoja3" class="btn3" type="button"></button>
    <button routerLink="/hoja4" class="btn4" type="button"></button>
    <button routerLink="/hoja5" class="btn5" type="button"></button>
  </div>
  <div>
    <button routerLink="/hoja6" class="btn6" type="button"></button>
    <button routerLink="/hoja7" class="btn7" type="button"></button>
    <button routerLink="/hoja8" class="btn8" type="button"></button>
    <button routerLink="/hoja9" class="btn9" type="button"></button>
    <button routerLink="/hoja10" class="btn10" type="button"></button>
  </div>
</section>
<div class="btnver">
  <button routerLink="/pagina1" class="ver">Ver Todo</button>
</div>
<app-footer></app-footer>
</body>
</html>
